<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <title>Springer Graduate Texts in Mathematics</title>
</head>

<body>
    <h1>Springer GTM Dashboard</h1>
    <table>
        <tr>
            <th> Title </th>
            <th> Author </th>
            <th> Year </th>
            <th> Volume </th>
            <th> Price </th>
        </tr>
        {% for row in springer_mathematics_data %}
            <tr>
                <td>{{ row.title }}</td>
                <td>{{ row.author }}</td>
                <td>{{ row.year }}</td>
                <td>{{ row.volume }}</td>
                <td>{{ row.price }}</td>
            </tr>
        {% endfor %}
        
    </table>    
</body>

</html>




